*{
  margin:0;

}
body{
  
}
header{
  width: 100%;
  height: 100px;
  background: rgba(97,61,127,0.91);
  background: -moz-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,61,127,0.91)), color-stop(8%, rgba(97,61,127,0.91)), color-stop(10%, rgba(95,60,124,0.91)), color-stop(100%, rgba(3,1,4,1)));
  background: -webkit-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -o-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -ms-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: linear-gradient(to right, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613d7f', endColorstr='#030104', GradientType=1 );
  display: grid;
 /* background-color: rgb(212,175,55);*/
}
.grid{
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: 110px 500px  510px 1fr 420px ;

}
.header_container{
  grid-column: 1/5;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 25%);  
  position: fixed;
}
.header_logo{
  padding-left: 20%;
  height: 100px;
}
.header_logo img{
  height: 100px;
  align-items: center;
  padding-top: 8px;
  
}
.header_house{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_house img{
  height:80px;
}
.header_chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_chart img{
  height:70px;
}
.header_user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user img{
  height:70px;
  
}
.login_page{
 
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 2/3;
  
  display: grid;
  grid-template-columns:  repeat(4, 25%); 
  grid-template-rows: 300px 1fr 1fr ;

}

.login_logo{
  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.login_logo img{
  width: 90%;
   padding: 0%;
   margin: 0%;
}

.form_login{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_login input{

  width: 300px;
  height: 45px;
  border:none;
  border-bottom: 2px solid black;
  background-color: transparent;
  color:black;
  
 
}
.btn_login{
  background-color: rgb(70, 24, 131);
  height: 40px;
  color:white;
  font-size: 24px;
  font-weight: bolder;
  padding:5px 20px;
  border:none;
  border-radius:20px;
}
.main_page{
  grid-column: 1/5;
  grid-row: 3/4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns:  repeat(4, 25%);
  grid-template-rows: 1fr 1fr;
  
}

.main_logo{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.main_logo img{
  width: 70%;
   padding: 0%;
   margin: 0%;
}
.main_searching{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_searching_input{
  
  width: 300px;
  height: 45px;
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  
}
.main_houses{
  width: 100%;
  grid-column: 1/5;
  grid-row: 4/5;
  background-color: black;
 /* background: rgba(97,61,127,0.91);
  background: -moz-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,61,127,0.91)), color-stop(8%, rgba(97,61,127,0.91)), color-stop(10%, rgba(95,60,124,0.91)), color-stop(100%, rgba(3,1,4,1)));
  background: -webkit-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -o-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -ms-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: linear-gradient(to right, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613d7f', endColorstr='#030104', GradientType=1 );*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_houses_title{
  font-size: 36px;
  font-weight: bolder;
  color:whitesmoke;
  
}
.main_houses img{
  width: 150px;
  padding: 30px 40px;
}
.main_charts{
  width: 100%;
  grid-column: 1/5  ;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(4, 25%);  
  grid-template-rows: 50px 1fr;
  
}
.main_charts img{
  width: 80%;
}

.main_charts_title{
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodercito{

  width: 100%;
  grid-row-start: 2;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_container{
  width: 100%;
 height: 100px;
  grid-column: 1/5  ;
  grid-row: 6;
  background-color: black;
  color: whitesmoke;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.hide{
  display: none important!;
}