/*----variables--------*/
:root{
  --purple-color:rgba(97,61,127,0.91);
  --gradientPurple-color : linear-gradient(to right, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  --gradientPurpleLeft-color : linear-gradient(to right, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 20%, rgb(247, 232, 255) 100%);
  --box:0px 0 2px 1px #e6e5e9;
  }
@font-face {
  font-family: hpFont;
  src: url(HARRYP__.TTF);
}
*{
  margin:0;
  padding: 0;
}

body{
  
}

.login_page{
  
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1/2;
  height: 100vh;
  display: grid;
  grid-template-columns:  repeat(4, 25%); 
  grid-template-rows: 300px 1fr 1fr ;

}

.login_logo{
  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradientPurpleLeft-color);
 
}
.login_logo img{
  width: 75%;
   padding: 0%;
   margin: 0%;
}

.form_login{
 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_login input{

  width: 300px;
  height: 45px;
  border:none;
  border-bottom: 2px solid black;
  background-color: transparent;
  color:black;
  margin: 20px;
  
 
}
.btn_login{
  background-color: var(--purple-color);
  height: 40px;
  color:white;
  font-size: 24px;
  font-weight: bolder;
  padding:5px 20px;
  border:none;
  border-radius:20px;
  cursor: pointer;
}
header{
  width: 100%;
  height: 100px;
  /*background: var(--purple-color);
  background: -moz-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,61,127,0.91)), color-stop(8%, rgba(97,61,127,0.91)), color-stop(10%, rgba(95,60,124,0.91)), color-stop(100%, rgba(3,1,4,1)));
  background: -webkit-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -o-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -ms-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613d7f', endColorstr='#030104', GradientType=1 );*/
  background: var(--gradientPurple-color);
  
  
  display: grid;
 
}
.grid{
  display: grid;
  grid-template-columns: repeat(4,25%);
  

}
.hide{
  display: none !important;
  
}

.header_container{
  position: fixed;
  z-index: 2;
  grid-column: 1/5;
  grid-row: 1/2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);  
  
  
}
.header_logo{
  padding-left: 20%;
  height: 100px;
}
.header_logo img{
  height: 100px;
  align-items: center;
  padding-top: 8px;
  
}
.header_house{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_house img{
  height:80px;
}
.header_chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_chart img{
  height:70px;
}
.header_user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user img{
  height:70px;
  
}
.main_page{
  grid-column: 1/5;
  grid-row: 1/3;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  
 
  
}

.main_logo{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1/4;
  display: flex;
  
  justify-content: center;
  align-items: flex-start;
 
}
.main_logo img{
  width: 65%;
   padding: 0%;
   margin: 0%;
   margin-top: 40px;
}
.main_searching{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main_searching input{
  
  width: 300px;
  height: 45px;
  border: 2px solid var(--purple-color);
  border-top: none;
  border-left: none;
  border-right: none;
  
}
.main_searching_result{
grid-column: 1/5;
grid-row: 3/4;
height: 20vh;
}
.main_houses{
  width: 100%;
  height: 110vh;
  grid-column: 1/5;
  grid-row: 3/4;
  background-color: black;
 /* background: rgba(97,61,127,0.91);
  background: -moz-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,61,127,0.91)), color-stop(8%, rgba(97,61,127,0.91)), color-stop(10%, rgba(95,60,124,0.91)), color-stop(100%, rgba(3,1,4,1)));
  background: -webkit-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -o-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: -ms-linear-gradient(left, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  background: linear-gradient(to right, rgba(97,61,127,0.91) 0%, rgba(97,61,127,0.91) 8%, rgba(95,60,124,0.91) 10%, rgba(3,1,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613d7f', endColorstr='#030104', GradientType=1 );*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.main_houses img{
  cursor: pointer;
}
.main_houses_title{
  font-size: 36px;
  font-weight: bolder;
  color:whitesmoke;
  
}
.main_houses img{
  width: 150px;
  padding: 30px 40px;
}
.main_charts{
  width: 100%;
  height: 90vh;
  grid-column: 1/5  ;
  grid-row: 4/5;
  display: grid;
  
  grid-template-columns: repeat(4, 25%);  
  grid-template-rows: 100px 1fr;
  
}
.main_charts img{
  width: 80%;
}

.main_charts_title{
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.bodercito{

  width: 100%;
  grid-row-start: 2/3;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_container{
  width: 100%;
 height: 60px;
  grid-column: 1/5  ;
  grid-row: 5/6;
  background-color: black;
  color: whitesmoke;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.filter_container{
  
  display: grid;
  grid-template-columns: repeat(4, 25%);  
  grid-row-gap: 10px;
  
}
.grid_card{
  grid-column: 1/5;
}
.cards_container{
 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 30px 50px;
 /* background-color:  rgba(199, 199, 199, 0.91);
  border: 2px solid rgba(189, 186, 186, 0.91);*/
  justify-content: center;
  perspective: 1000px;
}


.cards{
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.hp-image{
  margin:3%;
  display: inherit;
  flex-flow: column nowrap;
  width: 165px;
  height: 220px;
  border: none;
  border-radius: 50%;
  margin-right: 5% ;
  
}
.hp-name{
  font-family: "hpFont";
  font-size: 30px;
  
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 5px;
 
  color: rgba(73, 48, 95, 0.91);
  letter-spacing: 1px;

  margin-right: 5% ;
  margin-bottom: 5% ;
  
}
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(220, 220, 220, 0.91);
  border: 2px solid rgba(219, 216, 216, 0.91);
  
}

.flip-card-back {
  background-color: rgba(220, 220, 220, 0.91);
  border: 2px solid rgba(219, 216, 216, 0.91);
  color: var(--gradientPurple-color);
  transform: rotateY(180deg);
  padding-top: 10px;
}
.info{
  font-family: 'Handlee', cursive;
  line-height: 30px;
  color: var(--purple-color)
}
.title{
  grid-column: 1/5;
  height: 200px;
  font-family: "hpFont";
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color:rgba(73, 48, 95, 0.91);
  letter-spacing: 5px;
}